/* ---------------------------------- */
/* ==footer                           */
/* ---------------------------------- */

.footer-container {
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
}

.footer-container p {
	color: $white;
	text-align: center;
	line-height: 30%;
}