/* ---------------------------------- */
/* ==header                           */
/* ---------------------------------- */

#header {
	right: 0; left: 0;
	height: 150px;

	& p {  	
		text-align: center;
		color: #FFFFFF;
		font-size: 1.3em;
		&.header_title { padding-top: 20px; }
	}
}